html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.story {
  margin: 20px;
}

.story p {
  margin: 10px;
  text-align: justify;
  text-justify: inter-word;
}
.story img {
  margin: 20px;
  float: right;
  max-width: 300px;
}

.home {
  margin: 20px;
}
